body {
  margin: 0;
}

html {
  font-family: Roboto, Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px white;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 50px;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
}

.list {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav__list:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #000;
}

.is-active,
.nav__link:hover {
  color: #00acdc;
}

.nav__link:active::after,
.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #00acdc;
  border-radius: 8px;
}
